@import '../../style/vars.scss';

/*avatar*/
.avatar-container {
  width: 300px;
  height: 400px;
  margin-top: 5px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: 1.5s;
    -webkit-transition: 1.5s;

  img {
    width: 300px;
    height: 100%;
    display: block;
    // position: absolute;
  }
}
