@import '../../style/vars.scss';

.avatar-section {
  display: flex;
    flex-direction: row;
    height: 400px;

  .avatar-container {
    width: 300px;
    height: 400px;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: 1.5s;
      -webkit-transition: 1.5s;

      // &:hover {
      //   width: 600px;
      //   height: 500px;
      // }

    img {
      width: 300px;
      height: 100%;
      display: block;
      // position: absolute;
    }
  }
}
