@import '../../style/vars.scss';

/*profile*/
.profile-container {
  width: 300px;
  // height: 50%;
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    // flex-basis: 1;
  background: rgba(0, 0, 0, .5);
  color: white;
  position: relative;
  margin-top: 5px;
  margin: 0 auto;
  text-align: center;
  transition: 1.75s;
    -webkit-transition: 1.75s;

  &:hover {
    width: 900px;
    height: 360px;
  }

  .profile-info {
      width: 300px;

      // h1 {
      // color: gold;
      // }

      &:hover .box {
        opacity: 1;
        width: 300px;
        background: #111;
      }

    }


}
