@import '../../style/vars.scss';

/*profile*/
.profile-container {
  width: 100%;
  height: 50%;
  display: flex;
    flex-direction: column;
    align-content: space-around;
  background: black;
  color: purple;
  position: relative;
  margin-top: 5px;
  margin: 0 auto;
  text-align: center;
  transition: 1.5s;
    -webkit-transition: 1.5s;
}
